.post {
    background: #2cd1b6;
    box-shadow: #191970 4px 8px 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    width: 100%;
    max-width: 75%;
    border-radius: 15px;
}