.post {
    background: skyblue;
    box-shadow: #00cccc 0 0 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    width: 100%;
    max-width: 75%;
    border-radius: 15px;
}